{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<style type="text/css">
html,body{
    height:100%;
    background-color:#0048BA;
}
    .container {
    height:100%;
    display: flex;
    align-items:center;
    justify-content:space-between;
    }
    .jumbotron {
        background-color:white;
        width:80%;
        border: 0.2 Solid black;
    }


</style>


<div class="container">
    <div class="jumbotron">
        <h2>{{content}}</h2>
    </div>
</div>

{% endblock %}