[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

django = "*"
requests = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
html2text = "*"
psycopg2-binary = "*"

[requires]

python_version = "3.6"
