{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<style type="text/css">

    .search{
    display:flex;
    }
    .btn-subs{
    background-color:white;
    margin:4px
    }


</style>

<div class="container">
    <div class="jumbotron">

        <h2>Search</h2>
        <form class="form-group search" method="post">
            {% csrf_token %}
            <input type="text" class="form-control" id="search" name="search"
                   placeholder="Enter a movie name">
            <button type="submit" class="btn btn-primary">Go!</button>
        </form>
        <h3>Create json\csv file
            <a href="?create-all">--all</a>
        </h3>
        {%for name in subs %}
        {%if name not in jsons %}
        <button class="btn btn-subs"><a>{{name}}</a></button>
        {%endif%}
        {%endfor%}

        <h3>Import to db
            <a href="?import-json">--all</a>
        </h3>
        {%for name, error_count in jsons %}
        {% if error_count %}
        <button class="btn btn-subs btn-danger">
            <img src="{% static 'error.png'%}" width="15px">
            <a>{{name}} ({{error_count}}) </a></button>
        {%else%}
        <button class="btn btn-subs"><a>{{name}}</a></button>
        {%endif%}
        {%endfor%}


        <!--<select id="select-language" name="languages[]" multiple class="selectized"-->
        <!--placeholder="Select languages..." tabindex="-1">-->
        <!--{%for lang, name, stop in languages %}-->
        <!--<option value="{{lang}}" selected="selected">{{name}}</option>-->
        <!--{%endfor%}-->
        <!--</select>-->

    </div>
</div>


<script>
    $(document).ready(function($) {


    });






</script>
{% endblock %}